<style media="screen">
body
{
background: #f5f5f5;
}

h5
{
font-weight: 400;
}

.container1
{
margin-top: 80px;
width: 400px;

}

.tabs .indicator
{
background-color: #e0f2f1;
height: 60px;
opacity: 0.3;
}

.form-container
{
padding: 40px;
padding-top: 10px;
}

.confirmation-tabs-btn
{
position: absolute;
}
</style>
<div class="container container1 white z-depth-2">
	<ul class="tabs teal">
		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
		<li class="tab col s3"><a class="white-text" href="#register">register</a></li>
	</ul>
	<div id="login" class="col s12">
		<form class="col s12" action="/login" method="post">
			<div class="form-container">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate" name="email">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate" name="password">
						<label for="password">Password</label>
					</div>
				</div>
				<br>
				<center>
					<button class="btn waves-effect waves-light teal" type="submit" name="action"><i class="fa fa-sign-in" aria-hidden="true"></i> Connect</button>
					<br>
					<br>
					<a href="" >Forgotten password?</a>
				</center>
			</div>
		</form>
	</div>
	<div id="register" class="col s12">
		<form class="col s12" action="/register" method="post">
			<div class="form-container">
				<div class="row">
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate" name="firstname" value="{{firstname}}" required>
						<label for="last_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate" name="lastname" value="{{lastname}}" required>
						<label for="last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate" name="email" value="{{email}}" required>
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="email-confirm" type="email" class="validate" name="email1" value="{{email1}}" required>
						<label for="email-confirm">Email Confirmation</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate" name="password" value="{{password}}" required>
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password-confirm" type="password" class="validate" name="password1" value="{{password1}}" required>
						<label for="password-confirm">Password Confirmation</label>
					</div>
				</div>
        <div class="row">
					<div class="input-field col s12">
						<input id="admin" type="password" class="validate" name="admin">
						<label for="password-confirm">Admin Code(only for admins)</label>
					</div>
				</div>
        <div class="row">
					<div class="input-field col s12">
						<input id="teacher" type="password" class="validate" name="teacher">
						<label for="password-confirm">Teacher Code(only for teachers)</label>
					</div>
				</div>
				<center>
					<button class="btn waves-effect waves-light teal" type="submit" name="action"><i class="fa fa-user-plus" aria-hidden="true"></i> Submit</button>
				</center>
			</div>
		</form>
	</div>
</div>


<script type="text/javascript">
var dis1 = document.getElementById("admin");
var dis2 = document.getElementById("teacher");
dis1.onchange = function () {
 if ( this.value.length > 0) {
		document.getElementById("teacher").disabled = true;

 }
 else{
	 	document.getElementById("teacher").disabled = false;
 }
}
dis2.onchange = function () {
 if (this.value.length > 0) {

		document.getElementById("admin").disabled = true;
 }
 else {
	 document.getElementById("admin").disabled = false;

 }
}
</script>
